body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  align-items: center;
  margin: auto;
}

.topheader {
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 5;
  border-bottom: 1px solid seashell;
  background-color: black;
  align-items: center;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  padding: 15px;
  text-align: right;
}

a:visited {
  color: seashell;
}

a {
  color: seashell;
}

#teacozy {
  height: 50px;
  margin: 10px;
}

.content {
  display: flex;
  padding-top: 70px;
  justify-content: center;
}

.missiontext {
  text-align: center;
  background-color: black;
  width: 100%;
}

.missioncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url(../images/img-mission-background.jpg);
}

.teaofmonth {
  margin-top: 70px;
  text-align: center;
}

.itemcontainer {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}


.itemcontainer img {
  height: 200px;
  width: 300px;
  padding: 10px;
}

.item span {
  text-align: center;
  display: block;
}

span h2 {
  text-align: center;
  position: relative;
  top: 180px;
}

.locations {
  display: flex;
  justify-content: center;
  margin-top: 70px;

}
.locationcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
}

.smallcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.smallcontainer .addressbox {
  width: 300px;
  background-color: black;
  margin: 20px;
  opacity: 1;
}

.contact {
  text-align: center;
}

footer {
  text-align: left;
  margin-left: 10px;
  margin-top: 50px;
}
